/*    GLOBAL STYLES    */

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

body{
  margin: 0 auto;
  width: 100%;
  height: auto;
  font-family: 'Lato', sans-serif !important;;
  background-color: #000;
  overflow-x: hidden;
}

 a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

/* -------------------- HEADER/NAV STYLES --------------------  */

.headerMain {
  display: block;
  padding: 15px 15px 0px 15px;
  margin-bottom: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.desk_nav {
  display: none;
}

#logoBox {
  margin-left: 10px;
}

#logo {
  height: 40px;
  margin-left: .8em;
  margin-top: .6em;
}

#burger {
  display: block;
  position: absolute;
  top: 1.7em;
  right: 2em;
  height: 30px;
  color: #d0d0d0;
}

.dropdown li {
  margin-bottom: 1.8em;
  text-align: left;
  padding-left: 2em;
}

.dropdown {
  display: block;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  overflow: hidden;
  height: 0;
}

.dropdown a {
  color: #d0d0d0;
  display: block;
  width: 100%;
}

.header_social {
  display: flex;
  position: absolute;
  left: .4em;
  margin-top: 0;

}

.header_social img {
  height: 30px;
  margin: 0 1.2em;
  opacity: .6;
}

.dropdown.open {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 4em;
  margin-top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: .5s;
}

.dropdown a:hover::after {
  width: 0;
}

/* -------------------- HOME STYLES -------------------- */

.home_wrapper {
  padding: 0;
  color: #eeeeee;
}

.home_hero {
  background-image: url("/content/images/mainImage.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hh_overlay {
  position: absolute;
  background: linear-gradient(to left, rgba(0, 135, 170, 0.3), rgba(62, 8, 8, 0.5));
  top: 0;
  left: 0;
  right: 0;
  height: inherit;
}

#hero_content{
  position: absolute;
  top: 35%;
  left: 6%;
  width: 90%;
}

#hero_content h1{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: .5em;
}

#hero_content h2{
  margin-bottom: .5em;
}

#hero_content h2:nth-child(3){
  color: #FF6F3C;
  font-style: italic;
}

#hero_content p{
  font-weight: 300;
  font-size: .7em;
}

#hero_content button{
  display: flex;
  background-color: #155263;
  border: none;
  margin-top: 2em;
  font-weight: 100;
  font-size: 10px;
  padding: .6em;
}

#hero_content img{
  height: 12px;
  margin-left: 12px;
}

#bouncy {
  display: none;
}

.manc_info {
  margin: 0 auto;
  position: relative;
}

.mi_text {
  padding: 3em 2em;
  color: #dedede;
  background-color: rgba(55, 71, 79, 0.4);
}

.mi_text h1 {
  font-weight: 700;
  font-size: 1.5em;
  padding-bottom: 1em;
  word-spacing: .5em;
  color: #F7B633;
}

.mi_text p {
  font-weight: 300;
  margin-top: 1em;
  line-height: 1.2em;
}

.mi_review_i {
  background-color: rgba(96, 125, 139, 0.4);
  font-weight: 300;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.mi_review_ii {
  background-color: rgba(144, 164, 173, 0.8);
  font-weight: 300;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.mi_cols p {
  margin-bottom: 2em;
}

.mi_cols hr {
  margin-bottom: 2em;
  width: 20px;
  margin: 4px;
  display: inline-block;
}

.home_media {
  margin: 0;
}

.hm_images_wrapper {
  padding: 0;
}

.hm_images {
  height: 300px;
  padding: 1em;
}

.hm_record {
  background-image: url(/content/images/mic1.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  opacity: .7;
}

.hm_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 10px solid #F7B633;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
  transition: 1s;
}

.hm_text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
}

.hm_text img {
  height: 24px;
  align-self: flex-start;
}

.hm_text_two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 12px;
  width: 100%;
  height: 100%;
}

.hm_text_two h1 {
  font-size: 26px;
  font-weight: 300;
}

.hm_text_two p:first-of-type {
  font-size: 18px;
  font-weight: 300;
}

.hm_text_two p {
 font-size: 14px;
 text-align: left;
 font-weight: 300;
}

.hm_record:hover .hm_overlay {
  opacity: 1;
}

.hm_mixing:hover .hm_overlay {
  opacity: 1;
}

.hm_master:hover .hm_overlay {
  opacity: 1;
}

.hm_online:hover .hm_overlay {
  opacity: 1;
}

.hm_mixing {
  background-image: url(/content/images/sliders.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
}

.hm_master {
  background-image: url(/content/images/master1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
}

.hm_online {
  background-image: url(/content/images/mastering.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
}

.hm_video {
  position: relative;
  height: 100%;
  padding: 0;
}

#vid_overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/content/images/main-room.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#play_btn {
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .8
}

/* -------------------- ABOUT STYLES -------------------- */

.about_wrapper {

}

.about_hero {
  height: 100vh;
}

.ah_image {
  height: 60vh;
  top: 0;
  background-image: url(/content/images/manchester-skyline-1.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.ah_image h1 {
  font-weight: 100;
  font-size: 10vw;
  text-align: center;
  color: rgb(238, 238, 238);
  padding-top: 24vh;
}

.intro {
  position: absolute;
  height: 40vh;
  bottom: 0;
  font-weight: 300;
  word-spacing: 1px;
  background: rgba(22, 28, 38, 0.43);
  border-top: 1px solid rgba(247, 182, 51, 0.8);
  color: #d2d2d2;
  padding: 1.2em 1em;
}

.intro p {
  font-weight: 300;
  word-spacing: 2px;
  line-height: 1.2em;
  font-size: 1.2em;
}

/* -------------------- SERVICES STYLES -------------------- */

.services_wrapper {
  background-color: blue;
  padding: 0;
  height: 100vh;
}

/* -------------------- CONTACT STYLES -------------------- */

.contact_wrapper {
  background-color: #17a14e;
  padding: 0;
  height: 100vh;
}

/* -------------------- FOOTER STYLES -------------------- */

.footContainer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/content/images/footer_lodyas.png);
  color: #d0d0d0;
}

.footContainer a {
  /*color: #dedede;*/
}

.footLinks {
  margin: 3em 0;
  font-size: 14px;
}

.footLinks ul {
  display: flex;
  justify-content: space-around;
}

.footLinks a:hover {
  text-decoration: none;
}

.footSocial {
  margin: 3em 0 0 0;
  display: flex;
  justify-content: space-around;
  opacity: .8;
}

.footSocial img {
  height: 20px;
  margin-top: 3px;
}

.footAddress {
  margin: 3em 0;
  text-align: center;
  color: #dedede;
  font-weight: 300;
  font-size: 14px;
  line-height: 2em;
}

.footAddress img {
  height: 14px;
  margin-right: 12px;
  margin-bottom: -3px;
}

.copy {
  margin: 0;
  padding: 1em;
  font-weight: 300;
  font-size: 12px;
  color: #dedede;
  text-align: center;
  background-color: rgba(14, 18, 20, 0.6);
}

.copy h5 {
  margin: 1em 0;
}

.copy img {
  height: 30px;
  margin-top: 6px;
}

/* -------------------- MEDIA QUERIES FOR TABLET UPWARDS -------------------- */

@media (min-width: 768px) {

/* -------------------- TAB> HEADER/NAV STYLES -------------------- */

  #logoBox{
    display: none;
  }

  #logo_desk {
    height: 80px;
  }

  .navigation {
    display: none;
  }

  .desk_nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }

  .desk_nav li{
    margin: 1em 0 0 2em;
  }

  .desk_list {
    display: flex;
  }

  #social_desktop{
    display: flex;
  }

  #social_desktop img{
    height: 12px;
  }

  .desk_list li {
    margin-top: 12px;
  }

  .desk_list a {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .5PX;
    margin: 0 0 10px 0;
    color: #d0d0d0;
  }

  .desk_list a:hover {
    text-decoration: none;
  }

  .desk_list a::after {
    content: '';
    display: block;
    margin-top: 21px;
    margin-left: -3px;
    width: 0;
    height: 1px;
    background: #fad200;
    transition: .5s;
    overflow: visible;
  }

  .desk_list a:hover::after{
    width: 105%;
  }

  #burger {
    display: none;
  }

/* -------------------- TAB> HOME STYLES -------------------- */

  #hero_content{
    width: 33%;
  }

/* -------------------- TAB> ABOUT STYLES -------------------- */

  .intro {
    padding: 5% 10% 5% 10%;
  }

  .intro  p {
    margin-top: 2%;
    font-size: 1em;
  }

/* -------------------- TAB> FOOTER STYLES -------------------- */

  .footLinks {
    margin: 1em 0;
  }

  .footLinks ul {
    display: block;
    padding-left: 30%;
  }

  .footLinks li {
    margin-top: 2.5em;
    font-weight: 300;
  }

  .footSocial {
    flex-direction: column;
    padding-left: 5%;
    padding-top: .1em;
    margin: 1em 0;
  }

  .footSocial a {
    margin-top: 1.2em;
  }

  .footAddress {
    text-align: left;
    padding-left: 0;
    line-height: 1.9em;
  }

  .footBtns {
    flex-direction: column;
    padding-top: 2em;
  }

  .button {
    margin: 1em auto;
  }

  .copy {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
  }

  .copy img {
    order: 1;
    margin-top: 2px;
  }

  #copy_one {
    order: 0;
  }

  #copy_two {
    order: 2;
  }

}

/* -------------------- MEDIA QUERIES FOR DESKTOP UPWARDS -------------------- */

/* -------------------- EQUAL HEIGHT COLUMS FROM DESKTOP -------------------- */

@media (min-width: 992px) {

  .mi_cols {
    min-height: 360px;
    padding: 1.5em;
  }

  .mi_review_i, .mi_review_ii {
    justify-content: center;
  }

  .mi_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .mi_text p {
    margin: 0 0;
  }

  .mi_text h1 {
    padding: 0;
  }

/* -------------------- DESKTOP HOME STYLES -------------------- */



}

/* -------------------- DESKTOP 1920PX ABOUT STYLES -------------------- */

@media (min-width: 1920px) {

  .intro {
    padding: 5% 15% 5% 15%;
  }

  .intro p {
    margin-top: 4%;
    font-size: 1.4em;
  }

}
