/*    GLOBAL STYLES    */

html, body {
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: #000;
  overflow-x: hidden;
}

 a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

/* -------------------- HEADER/NAV STYLES --------------------  */

.headerMain {
  display: block;
  padding: 15px 15px 0px 15px;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  margin-bottom: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.desk_nav {
  display: none;
}

#logoBox {
  margin-left: 10px;
}

#logoBox h2 {
  display: none;
}

#logo {
  height: 40px;
  margin-left: .8em;
  margin-top: .6em;
}

#burger {
  display: block;
  position: absolute;
  top: 1.7em;
  right: 2em;
  height: 30px;
  color: #d0d0d0;
}

.dropdown li {
  /*height: 24px;*/
  margin-bottom: 1.8em;
  text-align: left;
  padding-left: 2em;
}

.dropdown {
  display: block;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  overflow: hidden;
  height: 0;
}

.dropdown a {
  color: #d0d0d0;
  display: block;
  width: 100%;
}

.header_social {
  display: flex;
  position: absolute;
  left: .4em;
  margin-top: 0;

}

.header_social img {
  height: 30px;
  margin: 0 1.2em;
  opacity: .6;
}

.dropdown.open {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 4em;
  margin-top: 0;
  height: 100vh;
  width: 100%;
  /*border-bottom: 4px solid rgba(42,253,151,.8);*/
  overflow: hidden;
  transition: .5s;
}

.dropdown a:hover::after {
  width: 0;
}

/* -------------------- HOME STYLES -------------------- */

.home_wrapper {
  padding: 0;
  color: #bfc1be;
}

.home_hero {
  background-image: url("/content/images/mainImage.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding: 1em;
}

.hh_overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, .6);
  top: 0;
  left: 0;
  right: 0;
  height: inherit;
}

.hh_banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  padding-left: 1em;
}

.hero_logo img {
  height: 22vh;
}

.hero_logo_text {
  font-weight: 100;
  font-size: 42px;
  margin-top: 40px;
  margin-left: 14px;
  color: #e7e7e7;
}

.hh_text_one {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: #cfc9c9;
}

.hh_text_one h1 {
  font-weight:400;
  font-size: 24px;
  margin-top: .5em;
  line-height: 1.5em;
}

.hero_social {
  display: none;
}

#bouncy {
  display: none;
}

.manc_info {
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  margin: 0 auto;
  position: relative;
}

.mi_text {
  padding: 3em 2em;
  color: #dedede;
  background-color: #1f1f1f;
}

.mi_text h1 {
  font-weight: 700;
  font-size: 1.5em;
  padding-bottom: 1em;
  word-spacing: .5em;
  color: rgba(42,253,151,.8)
}

.mi_text p {
  font-weight: 300;
  margin-top: 1em;
  line-height: 1.2em;
}

.mi_review_i {
  background-color: #383838;
  font-weight: 300;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.mi_review_ii {
  background-color: #505050;
  font-weight: 300;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.mi_cols p {
  margin-bottom: 2em;
}

.mi_cols hr {
  margin-bottom: 2em;
  width: 20px;
  margin: 4px;
  display: inline-block;
}

.home_media {
  margin: 0;
}

.hm_images_wrapper {
  padding: 0;
}

.hm_images {
  height: 300px;
  padding: 1em;
}

.hm_record {
  background-image: url(/content/images/mic1.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  opacity: .7;
}

.hm_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 10px solid rgba(42,253,151,.8);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
}

.hm_text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  padding: 0 1em;
}

.hm_text img {
  height: 24px;
  align-self: flex-start;
}

.hm_text_two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 12px;
  width: 100%;
  height: 100%;
}

.hm_text_two h1 {
  font-size: 26px;
  font-weight: 300;
}

.hm_text_two p:first-of-type {
  font-size: 18px;
  font-weight: 300;
}

.hm_text_two p {
 font-size: 14px;
 text-align: left;
 font-weight: 300;
}

.hm_record:hover .hm_overlay {
  opacity: 1;
}

.hm_mixing:hover .hm_overlay {
  opacity: 1;
}

.hm_master:hover .hm_overlay {
  opacity: 1;
}

.hm_online:hover .hm_overlay {
  opacity: 1;
}

.hm_mixing {
  background-image: url(/content/images/sliders.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
}

.hm_master {
  background-image: url(/content/images/master1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
}

.hm_online {
  background-image: url(/content/images/mastering.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
}

.hm_video {
  position: relative;
  height: 100%;
  padding: 0;
}

#vid_overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/content/images/main-room.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#play_btn {
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .8
}

/* -------------------- ABOUT STYLES -------------------- */

.about_wrapper {
  background-color: red;
  padding: 0;
  height: 100vh;
}

/* -------------------- SERVICES STYLES -------------------- */

.services_wrapper {
  background-color: blue;
  padding: 0;
  height: 100vh;
}

/* -------------------- CONTACT STYLES -------------------- */

.contact_wrapper {
  background-color: #17a14e;
  padding: 0;
  height: 100vh;
}

/* -------------------- FOOTER STYLES -------------------- */

.footContainer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1c1c1c;
  color: #d0d0d0;
}

.footContainer a {
  color: #dedede;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
}

.footLinks {
  margin: 3em 0;
  font-size: 14px;
}

.footLinks ul {
  display: flex;
  justify-content: space-around;
}

.footLinks a:hover {
  text-decoration: none;
}

.footSocial {
  margin: 3em 0 0 0;
  display: flex;
  justify-content: space-around;
  opacity: .8;
}

.footSocial img {
  height: 20px;
  margin-top: 3px;
}

.footAddress {
  margin: 3em 0;
  text-align: center;
  color: #dedede;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 2em;
}

.footAddress img {
  height: 14px;
  margin-right: 12px;
  margin-bottom: -3px;
}

.footBtns {
  display: flex;
  justify-content: center;
  margin: 1em 0 2em 0;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
}

.button {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  margin: 0 1em;
  max-width: 80px;
  border: 1px solid rgba(185,241,236,0.6);
  font-weight: 300;
}

.copy {
  margin: 0;
  padding: 1em;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #dedede;
  text-align: center;
  background-color: #0a0a0a;
  border-top: 1px solid rgba(42,253,151,.6);
}

.copy h5 {
  margin: 1em 0;
}

.copy img {
  height: 30px;
  margin-top: 6px;
}

/* -------------------- MEDIA QUERIES FOR TABLET UPWARDS -------------------- */

@media (min-width: 768px) {

/* -------------------- TAB AND DESKTOP HEADER/NAV STYLES -------------------- */

  .headerMain {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
    letter-spacing: 2px;
    padding: 0 20px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #d0d0d0;
  }

  #logoBox {
    margin-left: 0;
    padding: .5em 1em;
    background-color: rgba(0, 0, 0, 0.4);
    border-right: 1px solid #fff;
  }

  #logoBox h2 {
    display: block;
    color: #d0d0d0;
    margin-top: -25px;
    margin-right: 2px;
    font-size: 14px;
    font-weight: 300;
    margin-left: 60px;
    letter-spacing: .5px;
    word-spacing: 2px;
    opacity: .8
  }

  #logo {
    height: 34px;
    margin-left: 4px;
    margin-top: 4px;
    opacity: .8;
  }

  .navigation {
    display: none;
  }

  .desk_nav {
    display: block;
    margin: 8px;
    width: 40%;
  }

  .desk_list {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin: 0;
  }

  .desk_list li {
    margin-top: 12px;
  }

  .desk_list a {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .5PX;
    margin: 0 0 10px 0;
    color: #d0d0d0;
  }

  .desk_list a:hover {
    text-decoration: none;
  }

  .desk_list a::after {
    content: '';
    display: block;
    margin-top: 21px;
    margin-left: -3px;
    width: 0;
    height: 1px;
    background: rgba(23, 255, 248, 0.9);
    transition: .5s;
    overflow: visible;
  }

  .desk_list a:hover::after{
    width: 105%;
  }

  #burger {
    display: none;
  }

/* -------------------- TAB AND DESKTOP HOME STYLES -------------------- */

  .home_hero {
    height: 100vh;
  }

  .hh_banner {
    position: absolute;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 2.8em;
  }

  .hero_logo_text {
    font-weight: 100;
    font-size: 42px;
    margin-top: 40px;
    margin-left: 14px;
    color: #e7e7e7;
  }

  .hh_text_one {
    text-align: left;
    display: flex;
    flex-direction: column;
    color: #cfc9c9;
  }

  .hh_text_one h1 {
    font-weight:400;
    font-size: 24px;
  }

  .hero_social {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    bottom: 1em;
    right: 1em;
    left: 1em;
    opacity: .8;
  }

  .hero_social img {
    height: 16px;
    margin: 10px 0;
  }

  .hero_social a {
    display: block;
  }

  #bouncy {
    display: block;
    height: 70px;
    width: 80%;
    position: absolute;
    bottom: .2em;
    left: 10%;
    text-align: center;
    z-index: 999;
  }

  #bouncy:hover {
    animation-name: bounce;
    animation-duration: .6s;
    animation-iteration-count: 4;
  }

  #bouncy img{
    height: 24px;
    margin: 1.2em 1em 1em 1em;
    opacity: .6;
    transition: .2s;
  }

  #bouncy:hover img {
    height: 32px;
    opacity: 1;
  }

  @keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  20% {transform: translateY(10px);}
  }

  .home_media {
    height: 600px;
  }

  .hh_btns {
    display: none
    justify-content: flex-start;
    margin-top: 1em;
    padding-left: 28%;
  }

  .hh_button {
    display: none;
    background-color: rgba(23, 255, 248, 0.1);
    color: #d0d0d0;
    border: 1px solid rgba(255, 255, 255, 0.6);
    font-weight: 300;
    margin-left: 0;
    margin-right: 3em;
  }

  .arrow_right {
    height: 20px;
    margin-right: 6px;
    margin-left: -6px;
  }

/* -------------------- TAB AND DESKTOP FOOTER STYLES -------------------- */

  .footLinks {
    margin: 1em 0;
  }

  .footLinks ul {
    display: block;
    padding-left: 30%;
  }

  .footLinks li {
    margin-top: 2.5em;
    font-weight: 300;
  }

  .footSocial {
    flex-direction: column;
    padding-left: 5%;
    padding-top: .2em;
    margin: 1em 0;
  }

  .footSocial a {
    margin-top: 1.3em;
  }

  .footAddress {
    text-align: left;
    margin-top: 2em;
    padding-left: 0;
  }

  .footBtns {
    flex-direction: column;
    padding-top: 2em;
  }

  .button {
    margin: 1em auto;
  }

  .copy {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
  }

  .copy img {
    order: 1;
    margin-top: 2px;
  }

  #copy_one {
    order: 0;
  }

  #copy_two {
    order: 2;
  }

}

/* -------------------- MEDIA QUERIES FOR DESKTOP UPWARDS -------------------- */

/* -------------------- EQUAL HEIGHT COLUMS FROM DESKTOP -------------------- */

@media (min-width: 992px) {

  .mi_cols {
    min-height: 360px;
    padding: 1.5em;
  }

  .mi_review_i, .mi_review_ii {
    justify-content: center;
  }

  .mi_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .mi_text p {
    margin: 0 0;
  }

  .mi_text h1 {
    padding: 0;
  }

}

/* -------------------- DESKTOP HOME STYLES -------------------- */
