/*    GLOBAL STYLES    */

html, body {
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: #000;
  overflow-x: hidden;
}

 a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

/* -------------------- HEADER/NAV STYLES --------------------  */

.headerMain {
  display: block;
  padding: 15px 15px 0px 15px;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  margin-bottom: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#logoBox {
  max-width: 320px;
  margin-left: 10px;
}

#logoBox h2 {
  color: #fff;
  margin-top: -28px;
  font-size: 12px;
  font-weight: 300;
  margin-left: 50px;
  letter-spacing: .5px;
  word-spacing: 2px;
  display: none;
}

#logo {
  height: 40px;
  margin-left: .8em;
  margin-top: .6em;
}

#burger {
  display: block;
  position: absolute;
  top: 2em;
  right: 2em;
  height: 20px;
}

.navigation li {
  margin-bottom: 0;
}

.dropdown li {
  height: 2em;
  margin-top: 1em;
}

.dropdown {
  display: block;
  margin-top: .7em;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  overflow: hidden;
  height: 0;
}

.dropdown a {
  color: #fff;
  transition: 1.5s;
}

.dropdown.open {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3em;
  margin-top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: .5s;
}

.dropdown a:hover::after {
  width: 0;
}

/* -------------------- HOME STYLES -------------------- */

.home_wrapper {
  padding: 0;
}

.home_hero {
  background-image: url("/content/images/mainImage.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding: 1em;
}

.hh_overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  height: inherit;
}

.hh_banner {
  position: absolute;
  display: block;
  top: 18%;
  left: 10%;
  width: 80%;
  padding: 0;
  color: white;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
}

.hh_logo {
  padding: 6px 0 6px 8px;
  font-weight: 300;
  font-size: 2em;
  max-width: 120px;
  max-height: 126px;
  border: 1px solid rgba(185,241,236,0.8);
  text-align: center;
  margin: 0 auto;

}

.hh_text_one {
  text-align: center;
  margin-top: 1em;
  font-weight: 400;
  word-spacing: 3px;
}

.hh_text_one p {
  font-weight: 00;
  font-size: 16px;
}

.hh_btns {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.hh_button {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  margin: 0 1em;
  border: 1px solid rgba(185,241,236,0.6);
  font-weight: 300;
}

.manc_info {
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  margin: 0 auto;
  position: relative;
}

.mi_info_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/content/images/manchester-skyline-1.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .5;
}

.mi_text {
  padding: 3em 2em;
  color: #fff;
}

.mi_text h1 {
  font-weight: 700;
  font-size: 1.5em;
  padding-bottom: 1em;
  word-spacing: .5em;
}

.mi_text p {
  font-weight: 300;
  margin-top: 1em;
  line-height: 1.2em;
}

.mi_review_i {
  /*background-color: rgb(190, 190, 190);*/
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.mi_review_ii {
  /*background-color: rgb(214, 212, 212);*/
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.mi_cols p {
  margin-bottom: 2em;
}

.mi_cols hr {
  margin-bottom: 2em;
  width: 20px;
  margin: 4px;
  display: inline-block;
}

.home_media {
  margin: 0;
}

.hm_images_wrapper {
  padding: 0;
}

.hm_images {
  height: 300px;
  padding: 1em;
}

.hm_record {
  background-image: url(/content/images/mic1.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  opacity: .7;
}

.hm_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 10px solid rgba(42,253,151,.8);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
  transition: .8s ease;
}

.hm_text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  padding: 0 1em;
}

.hm_text img {
  height: 30px;
  align-self: flex-start;
}

.hm_text_two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: .5em;
  padding: 12px;
  width: 100%;
  height: 100%;
}

.hm_text_two h1 {
  font-size: 32px;
  font-weight: 300;
}

.hm_text_two p {
 font-size: 14px;
 text-align: left;
 font-weight: 300;
}

.hm_text_two p:first-of-type {
  font-size: 18px;
}

.hm_record:hover .hm_overlay {
  opacity: 1;
}

.hm_mixing:hover .hm_overlay {
  opacity: 1;
}

.hm_master:hover .hm_overlay {
  opacity: 1;
}

.hm_online:hover .hm_overlay {
  opacity: 1;
}

.hm_mixing {
  background-image: url(/content/images/sliders.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  opacity: .8;
}

.hm_master {
  background-image: url(/content/images/master1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
}

.hm_online {
  background-image: url(/content/images/mastering.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
}

.hm_video {
  height: 100%;
  padding: 0;
}

#play_btn {
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -------------------- FOOTER STYLES -------------------- */

.footContainer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222222;
}

.footContainer a {
  color: #fff;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
}

.footLinks {
  margin: 1em 0;
  font-size: 14px;
}

.footLinks ul {
  display: flex;
  justify-content: space-around;
}

.footLinks a:hover {
  text-decoration: none;
}

.footSocial {
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
}

.footSocial img {
  height: 20px;
  margin-top: 3px;
}

.footAddress {
  margin: 1em 0;
  text-align: center;
  color: #fff;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 2em;
}

.footAddress img {
  height: 14px;
  margin-right: 4px;
  margin-bottom: -3px;
}

.footBtns {
  display: flex;
  justify-content: center;
  margin: 1em 0 .5em 0;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
}

.button {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  margin: 0 1em;
  max-width: 80px;
  border: 1px solid rgba(185,241,236,0.6);
  font-weight: 300;
}

.copy {
  margin: 1em 0 0 0;
  padding: 1em;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: #171717;
  border-top: 1px solid rgba(42,253,151,.6);
}

.copy h5 {
  margin: 1em 0;
}

.copy img {
  height: 30px;
  margin-top: 6px;
}

/* -------------------- TAB AND DESKTOP HEADER/NAV STYLES -------------------- */

@media (min-width: 768px) {

  .headerMain {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    font-family: "Lato", Helvetica, Arial, Lucida, sans-serif;
    letter-spacing: 2px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #logoBox {
    max-width: 360px;
  }

  #logoBox h2 {
    display: block;
  }

  #logo {
    margin-top: 1em;
    margin-left: 0;
  }

  .navigation {
    flex: 0 0 40%;
    margin: 8px;
  }

  .dropdown {
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin-top: 0;
  }

  .dropdown a {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    margin: 0 10px 10px 10px;;
  }

  .dropdown a:hover {
    text-decoration: none;
  }

  .dropdown a::after{
    content: '';
    display: block;
    margin-top: 10px;
    margin-left: 3px;
    width: 0;
    height: 1px;
    background: #00FF93;
    transition: .5s;
  }

  .dropdown a:hover::after{
    width: 100%;
  }

  #burger {
    display: none;
  }

}

/* -------------------- TAB AND DESKTOP HOME STYLES -------------------- */

@media (min-width: 768px) {

  .hh_banner {
    position: absolute;
    top: 25%;
    width: 60%;
    left: 20%;
  }

  .hh_logo {
    min-height: 200px;
    max-width: 180px;
    margin: 0 auto;
    font-weight: 400;
  }

  .hh_logo h1 {
    font-size: 1.7em;
  }

  .hh_text_one {
    width: 100%;
    padding-top: .8em;
    /*margin-top: 5em;*/
    /*border-top: .5px solid rgba(42,253,151,.5);*/
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0.1) 1%, rgba(42,253,151, 0.8) 50%, rgba(0, 0, 0, 0.1) 100%) 100% 0 0 0/.5px stretch;

    text-align: center;
  }

  .home_media {
    height: 600px;
  }

  .hh_btns {
    display: flex;
    justify-content: center;
  }

  .hh_button {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    margin: 0 1em;
    border: .5px solid rgba(185,241,236,0.6);
    font-weight: 100;
  }

}

/* -------------------- TAB AND DESKTOP FOOTER STYLES -------------------- */

@media (min-width: 768px) {

  .footLinks ul {
    display: block;
    padding-left: 30%;
  }

  .footLinks li {
    margin-top: 2em;
  }

  .footSocial {
    flex-direction: column;
    padding-left: 10%;
  }

  .footSocial a {
    margin-top: 1em;
  }

  .footAddress {
    text-align: left;
    margin-top: 2em;
    padding-left: 5%;
  }

  .footBtns {
    flex-direction: column;
    padding-top: 2em;
  }

  .button {
    margin: 1em auto;
  }

  .copy {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
  }

  .copy img {
    order: 1;
    margin-top: 2px;
  }

  #copy_one {
    order: 0;
  }

  #copy_two {
    order: 2;
  }

}
