<footer class="container-fluid footWrapper">
    <div class="row">
        <div class="col-sm-3 col-xs-12 footLinks">
            <ul>
                <li><a href="#">Home </a></li>
                <li><a href="#">About </a></li>
                <li><a href="#">Services </a></li>
                <li><a href="#">Contact </a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-12 social">
            <ul>
                <li><a href="#"> <img src="content/images/fbook.svg"></a></li>
                <li><a href="#"><img src="content/images/twitt.svg"></a></li>
                <li><a href="#"> <img src="content/images/instagram.svg"></a></li>
                <li><a href="#"> <img src="content/images/social-youtube-outline.svg"></a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-12" id="address">
            <h6>Box Deluxe Recording Studio</h6>
            <h6>37 EQ Street</h6>
            <h6>Manchester</h6>
            <h6>MCR 001</h6>
            <br>
            <h6><img src="content/images/telephone.svg">0161 123 4567</h6>
            <h6><img src="content/images/email.svg">joeleo@bdstudio.co.uk</h6>
        </div>
        <div class="col-sm-3 col-xs-12 btns">
          <a href="#" class="button">STUDIO <img src="content/images/levels.svg"></a>
          <a href="#" class="button">ONLINE <img src="content/images/laptop.svg"></a>
        </div>
        <div class="col-sm-12 col-xs-12" id="copyright">
            <h6>Box deluxe Recording Studio &copy;2017</h6>
            <img src="content/images/logo.svg" id="footLogo">
            <h5>Website by Joel Lockwood &copy;2017</h5>
        </div>
    </div>
</footer>
