<div class="container-fluid footContainer">
    <div class="row f_r_one">
        <nav class="col-sm-3 footLinks">
          <ul>
            <li><a href="#/home">HOME</a></li>
            <li><a href="/">ABOUT</a></li>
            <li><a href="/">SERVICES</a></li>
            <li><a href="/">CONTACT</a></li>
          </ul>
        </nav>
        <div class="col-sm-3 footSocial">
          <a href="/"><img src="content/images/fbook.svg" alt="facebook"></a>
          <a href="/"><img src="content/images/twitt.svg" alt="twitter"></a>
          <a href="/"><img src="content/images/instagram.svg" alt="instagram"></a>
          <a href="/"><img src="content/images/social-youtube-outline.svg" alt="youtube"></a>
        </div>
        <div class="col-sm-3 footAddress">
          <h6>Box Deluxe Recording Studio</h6>
          <h6>37 EQ Street</h6>
          <h6>Manchester</h6>
          <h6>MCR 001</h6>
          <br>
          <h6><img src="content/images/telephone.svg"> 0161 123 4567</h6>
          <h6><img src="content/images/email.svg"> joeleo@bdstudio.co.uk</h6>
        </div>
        <div class="col-sm-3 footBtns">
          <button type="button" class="btn btn-default button">STUDIO</button>
          <button type="button" class="btn btn-default button">ONLINE</button>
        </div>
      </div>
      <div class="row f_r_two">
        <div class="col-sm-12 copy">
          <h5>Box deluxe Recording Studio &copy;2017</h5>
          <img src="content/images/logo.svg">
          <h5>Website by Joel Lockwood &copy;2017</h5>
        </div>
    </div>
</div>
