<div class="container-fluid about_wrapper">
    <section class="row about_hero">
        <div class="ah_text col-sm-offset-3 col-sm-6"></div>
    </section>
    <section class="row engineers">
        <div class="engnr_rec col-sm-6"></div>
        <div class="engnr_mix col-sm-6"></div>
        <div class="engnr_master col-sm-6"></div>
        <div class="engnr_online col-sm-6"></div>
    </section>
    <section class="row gear">
        <div class="gear_list col-sm-12"></div>
    </section>
    <section class="row clients">
        <div class="client_list col-sm-12"></div>
    </section>
</div>
