<div id="about" class="container-fluid about_wrapper">
    <section class="row about_hero">
      <div class="ah_image">
        <h1>ABOUT US</h1>
        <div class="intro">
          <p>Box Deluxe is a high end recording studio based in the heart of Manchester.
              We offer services such as recording, mixing and mastering. With a wealth of
              experience and a glorious collection of vintage/modern gear we will get your
              tracks sounding professional and ready for commercial release.</p>
        </div>
      </div>
      <div class="hero_social">
         <ul>
            <a href="/"><img src="content/images/fbook.svg" alt="facebook"></a>
            <a href="/"><img src="content/images/twitt.svg" alt="twitter"></a>
            <a href="/"><img src="content/images/instagram.svg" alt="instagram"></a>
            <a href="/"><img src="content/images/social-youtube-outline.svg" alt="youtube"></a>
         </ul>
      </div>
      <div id="bouncy">
         <img src="content/images/android-arrow-down.svg" alt="scroll">
      </div>
    </section>
    <section class="row engineers">

    </section>
    <section class="row gear">
        <div class="gear_list col-sm-12"></div>
    </section>
    <section class="row clients">
        <div class="client_list col-sm-12"></div>
    </section>
</div>
