<div class="container-fluid home_wrapper">
  <section class="home_hero">
    <div class="hh_overlay">
      <div class="hh_banner">
        <div class="hh_logo">
          <h1><span style="color: #2afd97; letter-spacing: 8px;">BOX</span>
            <h1><span style="letter-spacing: 10px;">DEL</span></h1>
            <h1><span style="letter-spacing: 10px;">UXE</span></h1>

        </div>

        <div class="hh_text_one">
          <h1>RECORDING STUDIO MANCHESTER</h1>
          <br>
          <p>Recording | Mixing | Mastering | Online Services</p>
        </div>
        <div class="hh_text_two">

        </div>
        <div class="hh_btns">
          <button type="button" class="btn btn-default hh_button">STUDIO</button>
          <button type="button" class="btn btn-default hh_button">ONLINE</button>
        </div>
      </div>
    </div>
  </section>
  <article class="row manc_info">
    <div class="col mi_text">
      <h1>MANCHESTER’S FINEST</h1>
      <p>Box Delux is a modern, high end studio based in Manchester, England. We have a huge collection of
         high quality equipment  including our beloved SSL 4000G series console (64 channels of analogue bliss).<br><br>
         Run by leading engineers with high levels of expertise in recording, mixing and mastering.</p>
    </div>
    <div class="row manc_info_review">
    <div class="col-sm-6 mi_review_i mi_cols">
      <p>"High end facility, low end prices. Amazing engineers who know thier shit!"</p>
      <h2>Ian Brown <span><hr></span><span style="font-size: 14px">The Stone Roses</span></h2>
    </div>
      <div class="col-sm-6 mi_review_ii mi_cols">
        <p>"High end facility, low end prices. Amazing engineers who know thier shit!"</p>
        <h2>Ian Brown <span><hr></span><span style="font-size: 14px">The Stone Roses</span></h2>
      </div>
    </div>
  </article>
  <section class="row home_media">
    <div class="col-md-6 hm_images_wrapper">
      <div class="col-sm-6 hm_images hm_record">

      </div>
      <div class="col-sm-6 hm_images hm_mixing">

      </div>
      <div class="col-sm-6 hm_images hm_master">

      </div>
      <div class="col-sm-6 hm_images hm_online">

      </div>
    </div>
    <div class="col-sm-12 col-md-6 hm_video">
      <video height="300" width="100%" poster="content/images/drumRoom.jpeg" controls>
        <source src="content/video/Recording Studio Promo Video.mp4" type="video/mp4">

        Your browser does not support HTML5 video.
      </video>
    </div>
  </section>
</div>
