<div class="container-fluid home_wrapper">
  <section class="home_hero">
    <div class="hh_overlay">
      <div class="hh_banner">
        <div class="hh_logo">
          <h1><span style="color: #2afd97; letter-spacing: 8px;">BOX</span>
            <h1><span style="letter-spacing: 10px;">DEL</span></h1>
            <h1><span style="letter-spacing: 10px;">UXE</span></h1>
        </div>

        <div class="hh_text_one">
          <ul>
            <li>Recording</li>
            <li>Mixing</li>
            <li>Mastering</li>
            <li>Online Services</li>
          </ul>
        </div>
        <div class="hh_text_two">
          <h1>RECORDING STUDIO MANCHESTER</h1>
        </div>
        <div class="hh_btns">
          <button type="button" class="btn btn-default hh_button">STUDIO</button>
          <button type="button" class="btn btn-default hh_button">ONLINE</button>
        </div>
      </div>
    </div>
  </section>

</div>
